<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Quotania for quotes sharing">
    <meta name="author" content="ghost_pap">

    <title>Quotania</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/quotania.css')}}">
    
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body ng-app="quotania" ng-controller="quotController">

	<!-- Navigation Bar -->
	<nav role="navigation" class="navbar navbar-fixed-top navbar-custom">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="#main" class="navbar-brand page-scroll"><i class="fa fa-quote-right circle"></i> Quotania</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a class="page-scroll" href="#share">Share My Quote</a></li>
			</ul>
		</div>
	</nav>

	<!-- Section for exploring quotes -->
	<section class="main" id="main" style="background: url({{url_for('static', filename = 'img/intro-bg.jpg')}}) no-repeat bottom center scroll;">
		<div class="main-body">
			<div class="container">
				<div class="row">
					<div class="column-md-8 column-md-offset-2">
						<h3 class="quote" ng-bind="quote.quo"></h3>
						<p class="author">- <span ng-bind="quote.auth"></span></p>
						<div class="container">
							<div class="row main-nav">
								<div class="column-md-6 column-md-offset-3">
									<a href="#" class="btn btn-circle">
			                            <i class="fa fa-angle-double-left animated"></i>
			                        </a>
			                        <a href="#" class="btn btn-circle">
			                            <i class="fa fa-heart animated"></i><span class="number_love">1200</span>
			                        </a>
									<a href="#" class="btn btn-circle">
			                            <i class="fa fa-angle-double-right animated"></i>
			                        </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Section for sharing quotes -->
	<section id="share" class="container share-section text-center">
		<form>
			<h3>Share your quote and let the world know!</h3>
			<div class="form-group">
				<label for="quote">Quote</label>
				<input type="text" name="quote" class="form-control" id="quote" placeholder="Your quote here" ng-model='submit.quo'>
			</div>
			<div class="form-group">
				<label for="author">Author</label>
				<input type="text" name="author" class="form-control" id="author" placeholder="The author here" ng-model='submit.auth'>
			</div>
			<button class="btn btn-default" ng-click='submit()'>Share</button>
			<div class="alert alert-info" style="margin: 20px 0px;" ng-show="submitStatus == 1">
				<strong>Success!</strong> Thanks for sharing with us
			</div>
			<div class="alert alert-danger" style="margin: 20px 0px;" ng-show="submitStatus == -1">
				<strong>Oops!</strong> There is a problem sharing your quote
			</div>
		</form>
	</section>

	<!-- jQuery -->
    <script type="text/javascript" src="{{url_for('static', filename = 'vendor/jquery/jquery.js')}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="{{url_for('static', filename = 'vendor/bootstrap/js/bootstrap.min.js')}}"></script>

    <!-- Plugin JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Variables from jinja -->
    <script type="text/javascript">
    	var submit_quote_url = "{{ url_for('submit_quote') }}";
    </script>

    <!-- Theme JavaScript -->
    <script type="text/javascript" src="{{url_for('static', filename = 'js/quotania.js')}}"></script>

    <!-- AngularJS App -->
    <script type="text/javascript" src="{{url_for('static', filename = 'js/quotaniaApp.js')}}"></script>
</body>
</html>